.content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.content span {
  margin-left: -5px;
  font-weight: bold;
}

.details {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

#save {
  width: 100%;
}
#total {
  margin-left: 10px;
}
.header,
.add-involved,
.detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header {
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}

.header .mat-icon{
    height:24px !important;
    width:24px !important;
    font-size:24px !important;
    line-height: 24px !important;
}
