/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Rajdhani', sans-serif;
}
* {
  font-family: 'Rajdhani', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

:root {
  --color-1: #850991;
  --color-2: #609441;
  --color-3: #f1648e;
  --color-4: #31b4c6;
  --color-5: #fee13b;
  --color-6: #fcb468;
}

.user-avatar-img {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}

