<mat-sidenav-container>
  <mat-sidenav [opened]="open" mode="side">
      
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/.']" routerLinkActive="router-link-active" > <mat-icon>dashboard</mat-icon> <span>Dashboard</span>  </a>
        <a mat-list-item [routerLink]="['/expense']" routerLinkActive="router-link-active" > <mat-icon>request_quote</mat-icon> <span>Expense</span>  </a>
        <a mat-list-item [routerLink]="['/category']" routerLinkActive="router-link-active" > <mat-icon>category</mat-icon> <span>Categorias</span></a>
        <a mat-list-item [routerLink]="['/.']" routerLinkActive="router-link-active" > <mat-icon>people</mat-icon> <span>Usuários</span></a>
     </mat-nav-list>
     <span class="spacer"></span>

     <div class="banner mat-elevation-z3">
       <img src="assets/nu-icon.png" alt="" srcset="">
       <h3 class="display-1">
         Importe sua fatura do nubank!
       </h3>
     </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content #main></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
