.content {
    padding: 10px;
  }
  input {
    text-decoration: none;
    border: none;
    background-color: inherit;
  }
  
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-1);
  }

  .header span {
    font-size: large;
    font-weight: bold;
  }
  
  
  