<div class="container">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let row">
        <cf-category-presents></cf-category-presents>
      </td>
    </ng-container>

    <ng-container matColumnDef="who">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quem</th>
      <td mat-cell *matCellDef="let row">
        <cf-involved-in-the-expense></cf-involved-in-the-expense>
      </td>
    </ng-container>

    <ng-container matColumnDef="bank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Banco</th>
      <td mat-cell *matCellDef="let row">{{row.bank}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
      <td mat-cell *matCellDef="let row">{{row.value | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="realValue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        Valor/Real
      </th>
      <td mat-cell *matCellDef="let row">{{row.realValue}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        
      </th>
      <td mat-cell *matCellDef="let row"><button mat-icon-button><mat-icon>more_vert</mat-icon></button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
  </table>
</div>
<mat-paginator
  [pageSize]="25"
  [pageSizeOptions]="[5, 10, 25, 100]"
  aria-label="Select page of users"
></mat-paginator>
