table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
   
  }
  .mat-header-cell{
    color: var(--color-1); font-weight: bold;
  }
  .container {
    height:520px;
    overflow: auto;
  }
  