.preview {
    width: 100%;
  }
  .new-category {
    background-color: white;
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
  }
  #save {
    margin-top: 10px;
  }
  
  #save,
  .new-category mat-form-field {
    width: 100%;
  }
  
  .circle {

    border-radius: 100%;

  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-1);
    width: 100%;
  }
  