<div class="child-box mat-elevation-z4 item">
<div class="header">
  <span>Signin</span>
</div>
  <mat-form-field appearance="outline" class="width-full">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Email" [(ngModel)]="signInRequest.email" />
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="outline" class="width-full">
    <mat-label>Senha</mat-label>
    <input
      matInput
      type="password"
      placeholder="Senha"
      [(ngModel)]="signInRequest.password"
    />
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    class="width-full"
    (click)="signin()"
  >
    Signin
  </button>
  <a [routerLink]="['/routePath']" routerLinkActive="router-link-active"
    >Esquci minha senha</a
  >
  <a [routerLink]="['../signup']" routerLinkActive="router-link-active"
    >Signup</a
  >
</div>
